.div1 {
    background-color:rgb(231, 231, 231);
    margin: auto;
}

.div2 {
    background-color:khaki;
    margin: auto;
}

.guion {
  background-color: #ffdead;
}

.div3 {
background-color: #ffdead;
margin: auto;
}

.guion1 {
margin: auto;
}

.guion2 {
margin: auto;
}

.guion3 {
margin: auto;
}

.guion4 {
margin: auto;
}

.guion5 {
margin: auto;
}

.guion6 {
margin: auto;
}     

.guion7 {
margin: auto;
}